.comments-area {

    ol.comment-list {

        padding-left: 0;

        &, ol.children {
            list-style-type: none;

        }
    }

    .comment-body {
        padding-bottom: 1em;
    }

} 
