// the main menu


$space: 1.5rem !default;
$space-half: $space / 2 !default;
$space-quarter: $space / 4 !default;


.menu {


    ul {
        padding-left: 0.6em;
        list-style-type: none;
    }

    > ul {
        padding-left: 0;
    }

    li {
        background-color: #fff;

        &.current_page_item > a {
            text-shadow: 1px 0 0 currentColor;
        }

    }

    ul ul {
        
        li {
            padding-left: 0.6em;
            border-left: 1px solid #000;
        }
    }

    a {
        color: #000;
        display: inline-block;
        padding: 0.3em 0;
        text-decoration: none;

        &:hover {
            text-shadow: 1px 0 0 currentColor;
        }
    }
}

/*
.js .menu-top {
    display: none;
    visibility: hidden;
}

.js .menu-top.active {
    display: block;
    visibility: visible;
}*/

.nav-toggle-button { // flat
    background-color: transparent;
    border: none;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    text-transform: uppercase;
    outline: 0;
    margin: 0.5rem auto;
    padding: 0 3em;
    font-size: 0.8em;
}
