// the main menu

.menu {


    ul {
        padding-left: 0.6em;
        list-style-type: none;
    }

    > ul {
        padding-left: 0;
    }

    li {
        background-color: $white;

        &.current_page_item > a {
            text-shadow: 1px 0 0 currentColor;
        }

    }

    ul ul {
        
        li {
            padding-left: 0.6em;
            border-left: 1px solid #000;
        }
    }

    a {
        color: $blackish;
        display: inline-block;
        padding: 0.3em 0;
        text-decoration: none;

        &:hover {
            text-shadow: 1px 0 0 $col-main;
            color: $col-main;
        }
    }
}


/* Nav toggle */

.nav-toggle-button { // flat
    background-color: $col-main;
    border: 2px solid $col-main;
    color: $white;
    font-weight: 900;
    display: none;
    line-height: 2em;
    vertical-align: middle;
    text-transform: uppercase;
    outline: 0;
    padding: 0 1em;
    cursor: pointer;
    position: absolute;
    top: $space-half;
    right: $space-half; 
    
    &:hover {
        border-color: $white;
    }

    &:active {
        background-color: $white;
        border-color: $white;
        color: $col-main;
    }
}

@include breakpoint(max-narrow) {
    .js .primary-menu {
        display: none;
        visibility: hidden;
    }
    
    .js .primary-menu.active {
        display: block;
        visibility: visible;
    }

    .nav-toggle-button {
        display: block;
    }
}
