
$space: 1.5rem !default;
$space-half: $space / 2 !default;

.main-sidebar {

        width: 100%;
        max-width: 400px;

        & > ul {
            list-style-type: none;
            padding-left: $space-half;
        }

}